@charset "UTF-8";

body, h1, ul, li, p {
  padding: 0;
  margin: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container, header, main, footer {
  width: 100%;
}
header {
  width:100%;
  padding:12px 18px;
  box-sizing:border-box;
}
header::after {
  content: '';
  display: block;
  clear: both;
}
header nav {
  float: right;
}
header ul {
  display: flex;
  align-items: center;
}
header li {
  margin-left: 20px;
}
header a {
  font-size: 14px;
  color: #212121;
}
header a:hover {
  text-decoration: underline;
}
header .app {
  display: block;
  width: 40px;
  height: 40px;
  margin: auto;
  background: url(../images/app-button.png) no-repeat 50% 50%;
}
header .app:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
}
header .log-in {
  display: block;
  width: 96px;
  height: 36px;
  background-color: #1a73e8;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 36px;
}
header .log-in:hover {
  text-decoration: none;
  background-color: #2b7de9;
  box-shadow: #8eb2e085 1px 1px 10px;
}

.main h1 {
  width: 270px;
  height: 90px;
  margin: 182px auto 0;
  background: url(../images/google-logo.png) no-repeat 50% 50% / cover;
  text-align: center;
  text-indent: -9999px;
}
.main .search-wrap {
  position: relative;
  width: 594px;
  height: 46px;
  margin: 28px auto;
}
.main .search-bar {
  display: block;
  width: 100%;
  height: 46px;
  background: url(../images/search.png) no-repeat left 17px top 50%;
  outline: none;
  border: 1px solid #dfe1e5;
  border-radius: 50px;
  font-size: 16px;
  text-indent: 50px;
}
.main .search-bar::-webkit-search-cancel-button {
  display: none;
}
.main .search-bar:hover {
  box-shadow: #dcdcdd 0px 2px 10px;
  border: none;
  cursor: pointer;
}
.main .search-wrap a {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-indent: -9999px;
}
.main .search-wrap .keyboard {
  width: 19px;
  height: 11px;
  background: url(../images/keyboard.jpg) 50% 50%;
  right: 58px;
}
.main .search-wrap .mic {
  width: 14px;
  height: 20px;
  background: url(../images/mic.jpg) 50% 50%;
  right: 22px;
}

.main .tab-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .tab-menu a {
  padding: 11px 18px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 14px;
  color: #3c4043;
}
.main .tab-menu a:hover {
  border: 1px solid #dadce0;
  box-shadow: #e8e8e8 0px 2px 10px;
}
.main .tab-menu .google-search {
  margin-right: 12px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  font-size: 14px;
}
footer .country {
  padding: 18px 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #dadce0;
  color: #6f6f6f;
}
footer .footer-menu-wrap {
  display: flex;
  justify-content: space-between;
}
footer ul {
  padding: 18px 30px;
  box-sizing: border-box;
}
footer ul::after {
  content: '';
  display: block;
  clear: both;
}
footer .first-footer-menu li {
  margin-right: 30px;
}
footer .second-footer-menu li {
  margin-left: 30px;
}
footer li {
  float: left;
}
footer a {
  color: #6f6f6f;
}
footer a:hover {
  text-decoration: underline;
}